body,
html {
  background: url(C:/Users/kumar/Desktop/Portfolio_website/image/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  margin-top: 400px;
}

.h1 {
  display: flex;
  margin-left: -55px;
  justify-content: center;
}

h5 {
  margin-top: 4px;
}

.arrow img{
  display: flex;
  align-items: center;
  margin-left: 900px;
  justify-content: center;
}

.arrow img:hover{
  opacity : 30%;
}
