body,
html {
  background: url(C:/Users/kumar/Desktop/Portfolio_website/image/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  margin-top: 400px;
  margin-bottom: -150px;
}

.h1 {
  display: flex;
  margin-left: -55px;
  justify-content: center;
}

h5 {
  margin-top: 4px;
}

.arrow img{
  width: 1.32%;
  display: flex;
  align-items: center;
  margin-left: 915px;
  justify-content: center;
}

.arrow img:hover{
  opacity : 70%;
}
.display-1{
  margin-left: 100px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.carousel{
  margin-left: 450px;
  margin-bottom: 5  00px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}